@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-hero {
        background-image: url('images/psychology.jpg');
    }

    .bg-casual {
        background-image: url('images/casual.jpeg');
    }

    .bg-professional {
        background-image: url('images/professional.jpeg');
    } 

    .bg-flowers {
        background-image: url('images/flowers.jpeg');
    }
}

